@tailwind base;
@tailwind components;
@tailwind utilities;
@import './font.css';

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    font-family: 'Sarabun' !important;
    font-size: 18px;
    font-weight: 400;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.text-charmonman-re {
    font-family: 'Charmonman' !important;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.storybook-button {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    border: 0;
    border-radius: 3em;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
}
.storybook-button--primary {
    color: white;
    background-color: #1ea7fd;
}
.storybook-button--secondary {
    color: #333;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
    font-size: 12px;
    padding: 10px 16px;
}
.storybook-button--medium {
    font-size: 14px;
    padding: 11px 20px;
}
.storybook-button--large {
    font-size: 16px;
    padding: 12px 24px;
}
